name: ~test template

on:
  workflow_call:
    inputs:
      RUNNER:
        type: string
        description: Runner to use for test
        required: true
      TIMEOUT:
        type: number
        description: Max runtime of test in minutes
        required: false
        default: 10
      SCRIPT:
        type: string
        description: Test script to execute
        required: true
      AFTER_SCRIPT:
        type: string
        description: Script to run after main test
        required: false
        default: ":"
      IS_OPTIONAL:
        type: boolean
        description: Failure will cancel all other tests if set to true
        required: false
        default: false
    outputs:
      conclusion:
        description: Conclusion of main test step
        value: ${{ jobs.main.outputs.conclusion }}
      log:
        description: Last 2000 characters of the test step's log
        value: ${{ jobs.main.outputs.log }} 
jobs:
  
  main:
    runs-on: ${{ inputs.RUNNER }} 
    outputs:
      conclusion: ${{ steps.main.conclusion }}
      log: ${{ steps.main.outputs.log }}
    steps:
        - name: Docker system cleanup
          run: |
            docker system prune -a --filter "until=48h" --force || true

        - name: Docker pull image
          run: |
            docker pull nemoci.azurecr.io/nemo_aligner_container:${{ github.event.pull_request.number }}

        - name: Start container
          run: |
            docker run --rm -d --name nemo_container_${{ github.run_id }} --runtime=nvidia --gpus all --shm-size=64g \
              --env TRANSFORMERS_OFFLINE=0 \
              --env HYDRA_FULL_ERROR=1 \
              --env HF_HOME=/home/TestData/aligner/hf_home \
              --env ALIGNER_CI_DIR=/home/TestData/aligner \
              --env ALIGNER_REPO_DIR=/opt/NeMo-Aligner \
              --volume /mnt/datadrive/TestData/aligner/checkpoints:/home/TestData/aligner/checkpoints:ro \
              --volume /mnt/datadrive/TestData/aligner/hf_home/hub:/home/TestData/aligner/hf_home/hub:ro \
              nemoci.azurecr.io/nemo_aligner_container:${{ github.event.pull_request.number }} \
              bash -c "sleep $(( ${{ inputs.TIMEOUT }} * 60 + 60 ))"
  
        - id: main
          name: Run main script
          timeout-minutes: ${{ inputs.TIMEOUT }}
          run: |
            # Print the host driver for debugging
            nvidia-smi
            mkdir -p ${{ github.run_id }}
            cd ${{ github.run_id }}/

            set +e
            (
            set -e

            cmd=$(cat <<"RUN_TEST_EOF"
            nvidia-smi
            # Sanity check the driver/cuda combo
            cudaCheck
            # In case git commands need to be run inside Aligner
            git config --global --add safe.directory $ALIGNER_REPO_DIR
            ${{ inputs.SCRIPT }}
            RUN_TEST_EOF
            )
            docker exec nemo_container_${{ github.run_id }} bash -eux -o pipefail -c "$cmd"
            ) 2> >(tee err.log)

            EXIT_CODE=$?

            echo "log=$(tail -c 2000 err.log |  base64 -w 0)" >> "$GITHUB_OUTPUT"
            
            exit $EXIT_CODE

        - uses: "NVIDIA/NeMo/.github/actions/cancel-workflow@main"
          if: failure() && inputs.IS_OPTIONAL == false

        - name: after_script
          if: always() && inputs.AFTER_SCRIPT != ':'
          run: |
            cmd=$(cat <<"RUN_TEST_EOF"
            ${{ inputs.AFTER_SCRIPT }}
            RUN_TEST_EOF
            )
            docker exec nemo_container_${{ github.run_id }} bash -eux -o pipefail -c "$cmd"

        - name: Container shutdown
          if: always()
          run: |
            docker container stop nemo_container_${{ github.run_id }} || true
            docker container rm nemo_container_${{ github.run_id }} || true